<!-- <%-include('partials/header')%>
<div class="Link">
<a href="/SignUp">ADD NEW STUDENT</a>
</div>
<div class="">
 <table id="customers">
    <tr>
       <th>Id</th>
       <th>FirstName</th>
       <th></th>
       <th></th>
    </tr>
 <% items.forEach((item)=> {%> 
    <tr><td><%= item.id %></td>
    <td><%= item.firstName %></td>
   
   <td><form action="/index" method="POST">
     <input type="submit" value=Delete></form></td>
    <td><a href="/edit/<%=item.id%>">Edit</a></td>
     <br>
   </tr> 

    <% }); %>
     </table>
   </div>
     <%-include('partials/header')%> -->